.paper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.paper-container1,
.paper-container2 {
  padding: 20px; /* Add padding to both Paper components */
  margin-left: 100px;
}

.paper-container2 {
  width: 25%;
}

.paper-container1 {
  width: 35%;
}

/* Adjust width of the Paper components if needed */
.MuiPaper-root1 {
  /* You can adjust this value as needed */
  padding: 20px 20px;
}

.MuiPaper-root2 {
  padding: 20px 20px;
}

.MuiPaper-root ul li {
  list-style-type: none;
}

.about-container {
  margin-top: 30px;
}
img {
  width: 250px;
  border: 5px solid #005f69;
}

.about-container h2 {
  text-align: center;
  color: #005f69;
}

#about-img {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  align-items: center;
}

#about {
  width: 40%;
  margin-left: auto;
  padding: 20px 40px;
  text-align: center;
  opacity: 0.6;
}
#img {
  width: 40%;
  margin-left: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .paper-container {
    display: flex;
    flex-direction: column;
  }
  .paper-container1,
  .paper-container2 {
    margin-left: 0px;
    width: 90%;
  }
  #about-img {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  #about {
    width: 80%;
  }
  #img {
    width: 80%;
    text-align: center;
    margin-left: 0px;
  }
}
